/*----------------------Setting up the document-----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f0d9b5;
  --background-shadow: #c8a671;
  --typed-font: "Special Elite", cursive;
  --box-shadow: 0.3em 0.3em 0px 0px rgba(200, 166, 113, 1);
  --width: min(80%, 800px);
}

body {
  background-image: url(img/brick.png);
  background-repeat: repeat;
  background-size: 15em;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

/*----------------------Header, info-line, filters-----------------------*/
.container-header {
  background: var(--background-color);
  width: fit-content;
  margin: 2em auto;
  box-shadow: var(--box-shadow);
}

h1 {
  padding: 0.3em 1em;
  font-family: var(--typed-font);
}

.container-infobar {
  background: var(--background-color);
  width: var(--width);
  margin: 2em auto;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.container-infobar span {
  font-family: var(--typed-font);
}

.firstLine,
.secondLine {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  justify-content: center;
}

.secondLine {
  margin-bottom: 0.5em;
  row-gap: 0.2em;
}
.firstLine {
  margin-top: 0.7em;
}

.container-infobar span {
  font-weight: 900;
}

.searchAndFilter {
  width: var(--width);
  margin: 0 auto 1em auto;
  display: flex;
  gap: 2em;
  justify-content: center;
  font-weight: 900;
}

select {
  background-color: var(--background-color);
  border: var(--background-shadow);
  padding: 2px;
  box-shadow: var(--box-shadow);
  /* border-radius: 5px; */
}

select option[value="all"] {
  background-color: var(--background-shadow);
}

/*----------------------Student List-----------------------*/

.container-studentList {
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  width: var(--width);
  margin: 0 auto 5em auto;
  cursor: pointer;
  z-index: 600;
}

.container-infoLine {
  padding: 2em 0 2em 0;
  margin: 0 3rem;
  width: calc(100% - 6em);
  font-style: italic;
  font-size: 0.8em;
}

#list {
  margin: 0 3em;
  padding-bottom: 3em;
  width: calc(100% - 6em);
}

#sorting {
  text-align: left;
  font-family: var(--typed-font);
}

#sorting th {
  border-bottom: solid rgb(0, 0, 0) 1px;
}

#list tbody tr td {
  padding: 0.2em 0;
}

#list tbody tr:hover {
  cursor: pointer;
  background-color: rgba(200, 167, 113, 0.24);
}

.logo {
  height: 25px;
  width: 25px;
  background-size: 25px;
}

.prefectlogo {
  background-image: url(img/prefectlogo.png);
}

.inquisitoriallogo {
  background-image: url(img/inquisitoriallogo.png);
}

.quidditchlogo {
  background-image: url(img/quidditchlogo.png);
}

.prefectlogobeige {
  background-image: url(img/prefectlogobeige.png);
}

.inquisitoriallogobeige {
  background-image: url(img/inquisitoriallogobeige.png);
}

.quidditchlogobeige {
  background-image: url(img/quidditchlogobeige.png);
}

[data-field="responsibility"] {
  display: flex;
  gap: 5px;
}

/*------------------Studentcard popup--------------------*/
.studentCard-container {
  width: 100%;
  /* height: 500px; */
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10000;
  pointer-events: none;
}
.studentCard {
  width: 400px;
  /* height: 500px; */
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  position: relative;
  pointer-events: all;
}
.studentCardCrest-container {
  display: flex;
  justify-content: center;
}

.studentCardCrest {
  width: 104px;
  height: 110px;
  background-size: 104px, 112px;
}

.gryfCrest {
  background-image: url(img/gryffindorcrest.png);
}

.raveCrest {
  background-image: url(img/ravenclawcrest.png);
}

.huffCrest {
  background-image: url(img/hufflepuffcrest.png);
}

.slytCrest {
  background-image: url(img/slytherincrest.png);
}

.studentCardInfoLine {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  /* margin-left: 4rem; */
  margin: 1rem 0;
}
.studentCardStudentIMG {
  /* background-image: url(imgStudents/potter_h.png); */
  width: 104px;
  height: 110px;
  /* background-size: 104px, 112px; */
  margin-top: auto;
  margin-bottom: auto;
}
.studentCardInfoLine p {
  font-weight: 500;
}
.studentCardInfoLine p span {
  font-weight: 200;
}

.studentEnrolment {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
}

.studentCardResponsibilityLine {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.4rem;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
}

.studentCardButtons {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem auto;
  padding-bottom: 2rem;
}

.studentCardButtons button {
  background-color: var(--background-shadow);
  border: var(--background-shadow) solid 0.4rem;
  box-shadow: 0.1em 0.1em 2px 0px rgb(168, 140, 95);
  font-size: 0.7rem;
}

.studentCardButtons button:hover {
  transform: scale(1.01);
}

.gryfBorder {
  box-shadow: var(--box-shadow), 2px 2px 0px 5px #f0d9b5 inset, -2px -2px 0px 5px #f0d9b5 inset, 4px 4px 0px 10px rgb(112, 37, 14) inset, -4px -4px 0px 10px rgb(112, 37, 14) inset, 10px 10px 0px 10px rgb(155, 104, 9) inset,
    -10px -10px 0px 10px rgb(155, 104, 9) inset;
}

.huffBorder {
  box-shadow: var(--box-shadow), 2px 2px 0px 5px #f0d9b5 inset, -2px -2px 0px 5px #f0d9b5 inset, 4px 4px 0px 10px rgb(0, 0, 0) inset, -4px -4px 0px 10px rgb(0, 0, 0) inset, 10px 10px 0px 10px rgb(187, 121, 0) inset,
    -10px -10px 0px 10px rgb(187, 121, 0) inset;
}

.slytBorder {
  box-shadow: var(--box-shadow), 2px 2px 0px 5px #f0d9b5 inset, -2px -2px 0px 5px #f0d9b5 inset, 4px 4px 0px 10px rgb(1, 82, 32) inset, -4px -4px 0px 10px rgb(1, 82, 32) inset, 10px 10px 0px 10px rgb(128, 130, 134) inset,
    -10px -10px 0px 10px rgb(128, 130, 134) inset;
}

.raveBorder {
  box-shadow: var(--box-shadow), 2px 2px 0px 5px #f0d9b5 inset, -2px -2px 0px 5px #f0d9b5 inset, 4px 4px 0px 10px rgb(29, 2, 128) inset, -4px -4px 0px 10px rgb(29, 2, 128) inset, 10px 10px 0px 10px rgb(173, 94, 29) inset,
    -10px -10px 0px 10px rgb(173, 94, 29) inset;
}

.transparentOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 56, 56, 0.493);
}

/*----------------------Candles-----------------------*/
/*Right now they are overlapping the student list despite trying to use z-index so I had to turn them off*/

@media screen and (min-width: 1000px) {
  .candle-container {
    display: flex;
    justify-content: center;
    pointer-events: none;
  }

  .backgroundCandles {
    position: absolute;
    width: min(100vw, 1100px);
    height: 100vh;
    top: 0;
  }

  .candle {
    background-image: url(img/lit-candle.png);
    background-size: 4em 8em;
    position: relative;
    cursor: pointer;
    pointer-events: all;
  }

  .candle:nth-of-type(1) {
    top: 50px;
    left: 15px;
    width: 4em;
    height: 8em;
    transform: rotate(2deg);
    animation: hoverCandle1 6s infinite ease-in-out;
  }

  .candle:nth-of-type(2) {
    top: 200px;
    left: 75px;
    width: 3em;
    height: 6em;
    background-size: 3em 6em;
    animation: hoverCandle2 7s infinite ease;
  }

  @keyframes hoverCandle1 {
    25% {
      transform: translateY(10px);
    }
  }

  @keyframes hoverCandle2 {
    25% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-5deg);
    }
  }
}

.hidden {
  display: none;
}
.noScroll {
  overflow: hidden;
}
